# Reduce Docker build context
node_modules
npm-debug.log
.git
.gitignore
.local
.replit
attached_assets
uploads
client/node_modules
server/node_modules
**/*.tsbuildinfo

# Build artifacts in host
.dist
*.zip

# Env files (configure in EasyPanel instead)
.env
.env.local
.env.development
.env.production
